{% extends "webapp/header.html" %}
{% block content %}
<div>
    <em>This is testing Jinja</em>
</div>
<table class="table table-striped">
    <thead>
        <th>ID</th><th>Name</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ted</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Paul</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
        </tr>
    </tbody>
</table>
{% include "webapp/includes/footer.html" %}
{% endblock %}