{% extends "webapp/header.html" %}

{% block content %}
    <a href="{% url 'submit_invoice' %}">
        <button class="text-center btn btn-danger">Create</button>
    </a>
    <table class="table table-striped table-bordered">
        <thead>
            <th>Number</th>
            <th>Total Amount</th>
        </thead>
        <tbody>
    {% for invoice in object_list %}
        <tr>
            <td><a href="{% url 'invoice_detail' pk=invoice.pk %}">{{invoice.number}}</a></td>
            <td>{{invoice.subtotal}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}