{% extends "webapp/header.html" %}

{% block content %}
    <h2>{{partner.name}}</h2>
    <h4 class="oe_mt16" style="font-style: italic">
        <strong>Email: </strong>
        {{partner.email}}
    </h4>
    <h3 class="oe_mt16">
        <strong>Registration Number: </strong>
        {{partner.reg_number}}
    </h3>
    <h3 class="oe_mt16">
        <strong>VAT Number: </strong>
        {{partner.vat_number}}
    </h3>
    <h5><strong>Comments: </strong></h5>
    <p>{{partner.coment}}</p>
{% endblock %}