{% extends "webapp/header.html" %}

{% block content %}
    <button class="text-center btn btn-danger">Create</button>
    <table class="table table-striped table-bordered">
        <thead>
            <th>Internal Reference</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
        </thead>
        <tbody>
    {% for product in object_list %}
        <tr>
            <td>{{product.internal_reference}}</td>
            <td><a href="/products/{{product.id}}">{{product.name}}</a></td>
            <td>{{product.description}}</td>
            <td>{{product.unit_price}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}