.header-div {
    background-color: #1b6d85;
    width: 100%;
    height: 175 px;
    color: #761c19;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.header-div a:link {
    color: #761c19;
    text-decoration: none;
}
.header-div a:active {
    color: #761c19;
    text-decoration: none;
}
.header-div a:visited {
    color: #761c19;
    text-decoration: none;
}
.header-div a:hover {
    color: #b92c28;
    text-decoration: none;
}